.cf:before,
.cf:after { content: " "; /* 1 */ display: table; /* 2 */ }
.cf:after { clear: both; }

.quest-target {
  font-size: 6em;
  float: left;
  width: 25%;
}

.evented-quest-target {
  text-align: center;
  font-size: 6em;
  float: left;
  width: 50%;
}

.letter-b {
  font-size: 24px;
  float: left;
  width: 25%;
}

.coolness {
  -webkit-animation:spin 3s linear infinite;
  -moz-animation:spin 3s linear infinite;
  animation:spin 3s linear infinite;
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
